$def with(pos, meta)
$var title: $pos.AgentName &rarr;&nbsp;
$var map: tmb
$var p_bendungan: active
$var js_foot:
    <script type="text/javascript">
        var drawDam = function (nTma, nMab, nMan, nMamin) {
            var maxi = Math.max(nTma, nMab, nMan, nMamin);
            var rMax = function (maxi, d) { return 170 - ((170/maxi) * d) };
            
            var yTma = 210 - ((nTma - nMamin) * (210 - 48) / (nMan - nMamin));
            var air = "M180 271, L180 "+ yTma +" 520 "+ yTma +" 520 271 Z";

            var eGambarAir = document.getElementById('air_id');
            eGambarAir.setAttribute("d", air);

            var etma = document.getElementById('etma');
            etma.setAttribute("y1", yTma);
            etma.setAttribute("y2", yTma);

            var emab = document.getElementById('emab');
            emab.setAttribute("y1", 2);
            emab.setAttribute("y2", 2);
            
            var eman = document.getElementById('eman');
            eman.setAttribute("y1", 48);
            eman.setAttribute("y2", 48);

            var emamin = document.getElementById('emamin');
            emamin.setAttribute("y1", 250);
            emamin.setAttribute("y2", 250);

            var nmab = document.getElementById('nmab');
            nmab.innerHTML = 'Elevasi Puncak: +' + nMab + 'm';
            
            var ntma = document.getElementById('ntma');
            ntma.innerHTML = 'TMA: +' + nTma + 'm';
            if (yTma <= 60) { 
                ntma.setAttribute("y", 60);
            } else {
                ntma.setAttribute("y", yTma);
            }
            var nman = document.getElementById('nman');
            nman.innerHTML = 'MAN: +' + nMan + 'm';
            var nmamin = document.getElementById('nmamin');
            nmamin.innerHTML = 'MaMin: +' + nMamin + 'm';

        };
        drawDam($:{meta.get('tma').get('pagi').manual.replace(',', '') or pos.siaga1}, $:pos.elev_puncak, $:pos.siaga1, $:pos.siaga4);
        \$(document).ready(function(){
        });
    </script>
<!-- -->
<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <h1><a href="/bendungan" style="text-decoration: none;">&larr;</a> $pos.cname</h1>
        </div>
        <div class="col-xs-6">
            <div class="btn-group" role="group" style="float: right">
                <a href="" class="btn btn-default">TMA</a>
                <a href="/bendungan/$pos.AgentId/operasi" class="btn btn-primary">RTOW</a>
                <!-- <div class="btn-group" role="group">
                    <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Keamanan <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/bendungan/$pos.table_name/vnotch">Rembesan</a></li>
                        <li><a href="/bendungan/$pos.table_name/piezometer">Tekanan Pori</a></li>
                    </ul>
            </div> -->
                <a href="/bendungan/$pos.AgentId/vnotchh" class="btn btn-primary">VNOTCH</a>
                <a href="/bendungan/$pos.AgentId/piezometerr" class="btn btn-primary">PIEZOMETER</a>

        </div>
    </div>
    <div class="row text-center">
    <form method="GET" style="font-size:24pt;" class="text-center">Status TMA&nbsp;&nbsp;<br><input type="text" style="border: none; font-size: x-large;width: 140px;" class="tanggal show-current-date" name="d" value="$meta['now']"></form>
	&nbsp;<!--<a href="" style="font-size: 24pt;text-decoration: none;">&#8594;</a>-->
</div>
    <div  style="width: 100%; height: 350px; margin-bottom: 200px;">
	<svg height="380px" width="1000px">
		<g>
            <text id="nmab" x="35" y="14" fill="red" font-family="monospace">Elevasi Puncak: </text>
			<text id="ntma" x="35" y="60" fill="blue" font-family="monospace">TMA:</text>
			<text id="nman" x="35" y="48" fill="orange" font-family="monospace">MAN:</text>
			<text id="nmamin" x="35" y="237" fill="gray" font-family="monospace">MaMin:</text>
			<defs>
				<linearGradient id="grad2" x1="0%" y1="0%" x2="0%" y2="100%">
					<stop offset="0%" style="stop-color:lightblue;stop-opacity:1" />
					<stop offset="100%" style="stop-color:rgba(196,196,255,0.5);stop-opacity:1" />
				</linearGradient>
			</defs>
			<path id="air_id" d="M180 271, L180 35 520 35 520 271 Z" stroke="black" stroke-width="0" fill="url(#grad2)" />
			<line id="etma" x1="180" x2="520" style="stroke:blue;stroke-width:2" />
            <line id="emab" x1="180" x2="1020" style="stroke:red;stroke-width:1" /> 
			<line id="emamin" x1="180" x2="520" y1="250" y2="250" style="stroke:gray;stroke-width:1" />
			<line x1="880" y1="330" x2="960" y2="330" style="stroke:blue;stroke-width:1" />
			<!--<path d="M180 272, L240 272, C600 -44, 460 -44, 820 272, L920 370, 1020 272" stroke="#888888" stroke-width="5" fill="transparent" />-->
			<!--<path d="M180 274, L242 274, C600 -41 460 -41, 818 274, L919 373 180 373 Z" stroke="black" stroke-width="0" fill="tan" />-->
            <path d="M180 274, L242 274, C600 -24 460 -24, 818 274, L919 373 180 373 Z" stroke="black" stroke-width="0" fill="tan" />
			<line id="eman" x1="180" x2="520" y1="34" y2="34"style="stroke:orange;stroke-width:1" />
			<path d="M180 272, L240 272, C600 -24, 460 -24, 820 272, L920 370, 1020 272" stroke="#888888" stroke-width="5" fill="transparent" />
			<path d="M921 373, L1000 373 1000 295 Z" stroke="#888888" stroke-width="1" fill="tan" />
			<path d="M884 332, L920 366 955 332" stroke="black" stroke-width="0" fill="lightblue" />
				
		</g>
	</svg>    
    </div>
<!--    <h3>Table Kapasitas Tampungan</h3>
    <table class="table-striped">
        <thead>
            <tr>
                <th class="text-center" style="width: 70px">Elevasi (M)</th><th class="text-center" style="width: 100px">Volume (M<sup>3</sup>)</th>
            </tr>
        </thead>
    $for k,v in meta.get('tma').get('kapasitas_series'):
        <tr>
            <td class="number text-right">${commify(k)}</td><td class="number text-right">${commify(v)}</td>
        </tr>
    </table>
    <h3>Elevasi Sekarang</h3>
    <pre>    Data dari Petugas (e): $meta.get('tma').get('elevasi')
    p1(y1, x1) = $meta.get('tma').get('p1')
    p2(y2, x2) = $meta.get('tma').get('p2')
    
    Hasil hitung komputer : $meta.get('tma').get('vol')
    ===================

    RUMUS : 
    
    kapasitas = x1 + (e - y1) / (y2 - y1) * (x2 - x1) </pre>
</div> -->
