$def with(ctx)
$ pos = ctx.get('pos')
$ data = ctx.get('data')
$ dari = ctx.get('dari')
$ hingga = ctx.get('hingga')
$ pics = ctx.get('pics')
$var p_bendungan: active
$var js_foot:
    <script type="text/javascript" src="/static/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="/static/js/moment.min.js"></script>
    <script type="text/javascript" src="/static/js/highcharts.js"></script>
    <script type="text/javascript">
        \$(document).ready(function(){
            \$('.tanggal').datepicker({format: 'yyyy/mm/dd'});
            var chart = new Highcharts.Chart({
                colors: ['#2da0b5', '#f05117', '#0000ff', '#aa0000', '#00aa00', '#0000aa', '#880000', '#008800', '#000088', '#660000'],
                chart: { type: 'column', renderTo: 'column_chart', zoomType: 'x' },
                title: { text: 'Grafik TMA $pos.cname' },
                tooltip: {
                    formatter: function () {
                        var s = '<b>'+ moment.unix(this.x).format('YYYY-MM-DD HH:mm') +'</b>';
                        \$.each(this.points, function(){
                            s += '<br/>' + this.series.name + ': ' + this.y;
                            if (this.point.debit) { s += '<br/>Debit: ' + this.point.debit.toFixed(2) + ' M3/detik'; }
                            });
                        return s;
                    },
                    valueDecimals: 2,
                    headerFormat: '<span style="font-size:14px;color: #000">{point.key}</span><table>',
                    pointFormatt: '<tr><td style="font-size:14px;color:{series.color};padding:4px">{series.name}: </td>' +
                    '<td style="font-size:14px;padding:4px"><b>{point.y} </b> M</td></tr>' + 
                    '<tr><td style="font-size:14px;color:{series.color};padding:4px">Debit : </td><td style="font-size:14px;padding:4px"><b>{point.debit} </b> M3/detik</td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                xAxis: {
                    type: 'datetime', 
                    crosshair: true,
                    labels: {
                        style: {
                            fontSize: '15px'
                        }
                    },
                },
                yAxis: [{
                        title: {text: 'TMA (m)'}, opposite: true,
                        valueDecimal: 2,
                        max: $pos.sm,
                        min: ${pos.DPL},
                        plotBands: [{color: 'rgba(0,255,0,0.6)', from: $pos.sh, to: $pos.sk},
                        {color: 'rgba(255,255,0,0.6)', from: $pos.sk, to: $pos.sm},
                        {color: 'rgba(255,0,0,0.6)', from: $pos.sm, to: ${pos.sm+2}}],
                        labels: {
                            style: {
                                fontSize: '15px'
                            }
                        },
                        marker: {enabled: false},
                    }
                    ],
                plotOptions: {
                  series: {
                    cursor: 'pointer',
                  }
                },
                series: series
            });
        });
        var series = [
            {name: 'TMA $data[0].get('nama')', yAxis: 0, data: [$:data[0].get('series')], type: 'line', color: 'black', lineWidth: 2}
                ]
    </script>
<!-- -->
<div class="container">
    <div class="row">
        <div class="col-xs-12">
        <h1><a href="/bendungan" title="Daftar Pos Bendungan" style="text-decoration: none;"><span class="glyphicon glyphicon-chevron-left"></a> Pos $pos.cname
        </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
    <form action="/bendungan/$pos.AgentId/tma" method="GET" class="text-center"> Dari <input type="text" name="dari" size="10" id="dari" class="tanggal" value="$dari.strftime('%Y/%m/%d')" /> - Hingga <input type="text" name="hingga" size="10" id="hingga" class="tanggal" value="$hingga.strftime('%Y/%m/%d')" /> <input type="submit" class="btn btn-primary" name="submit" value="Submit" /></form>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12"><div id="column_chart" style="width: 100%; height: 500px"></div>
        </div>
    </div>
</div><!-- container-->
