$def with(ctx)
$ pos = ctx.get('pos')
$ bulan = ctx.get('bulan')
$ wds = ctx.get('wds')
$var p_bendungan: active
$var js_foot:
    <script type="text/javascript" src="/static/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
      \$('#datepicker').datepicker({
        todayHighlight: true,
        format: 'yyyy/mm/dd',
        autoclose: true});
        \$('#datepicker').on('changeDate', function() {
              window.location = '/bendungan/$pos.AgentId?d=' + \$('#datepicker').datepicker('getFormattedDate');
            });
      </script>
<div class="container">
    <div class="row">
        <div class="col-xs-6">
        </h1>
        </div>
        <div class="col-xs-6">
            <div class="btn-group" role="group" style="float: right">
                <a href="" class="btn btn-primary">TMA</a>
                <a href="/bendungan/$pos.AgentId/operasi" class="btn btn-primary">RTOW</a>
                <div class="btn-group" role="group">
                    <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Keamanan <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/bendungan/$pos.table_name/vnotch">Rembesan</a></li>
                        <li><a href="/bendungan/$pos.table_name/piezometer">Tekanan Pori</a></li>
                    </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
        <h1><a href="/bendungan" title="Daftar Pos Bendungan" style="text-decoration: none;"><span class="glyphicon glyphicon-chevron-left"></a> Pos $pos.cname
            <h2>Rembesan ${bulan.strftime('%b %Y')}</h2>
            <table class="table table-bordered boldtable">
                <thead>
                    <tr>
                        <th rowspan="2">Tanggal</th>
                        <th colspan="3" >Panjang Saluran</th>
                        <th colspan="3" >Batas Max</th>
                        <th colspan="3" >Bacaan Hari Ini</th>
                        <th colspan="3" >Status / Kondisi</th>
                    </tr>
                    <tr>
                        <th> Vnotch1 </th>
                        <th> Vnotch2 </th>
                        <th> Vnotch3 </th>
                        <th> Vnotch1 </th>
                        <th> Vnotch2 </th>
                        <th> Vnotch3 </th>
                        <th> Vnotch1 </th>
                        <th> Vnotch2 </th>
                        <th> Vnotch3 </th>
                        <th> Vnotch1 </th>
                        <th> Vnotch2 </th>
                        <th> Vnotch3 </th>
                    </tr>

                </thead>
                <tbody>

                $for wd in wds:
                    <tr>
                        <td class="">${wd.waktu.strftime('%d')}</td>
                        <td class="text-right">$wd.vnotch_tin1</td>
                        <td class="text-right">$wd.vnotch_tin2</td>
                        <td class="text-right">$wd.vnotch_tin3</td>
                        <td class="text-right">$wd.pos.batas_rembesan</td>
                        <td class="text-right">$wd.pos.batas_rembesan</td>
                        <td class="text-right">$wd.pos.batas_rembesan</td>
                        <td class="text-right">$wd.vnotch_q1</td>
                        <td class="text-right">$wd.vnotch_q2</td>
                        <td class="text-right">$wd.vnotch_q3</td>
                        <td>${wd.pos.get_status_rembesan1(wd.waktu)}</td>
                        <td>${wd.pos.get_status_rembesan2(wd.waktu)}</td>
                        <td>${wd.pos.get_status_rembesan3(wd.waktu)}</td>
                      </tr>

                </tbody>
            </table>
        </div>
    </div>
