$var p_kekeringan: active
$var extra_header:
    <style type="text/css">
        body {
            overflow-y: scroll;
        }
        .content .single {
            height: auto;
            border-radius: 0;
            background-color: transparent;
            border: none;
        }
    </style>
<!-- -->
    <div class="single" style="background-color: #fff !important; overflow-y:hidden;">
            <h3>Agustus - 2016</h3>
              <div class="col-lg-4">
                  <a class='gallery' href='/static/images/kekeringan/100/100/489127.png'>
                      <img class="w-100" src="/static/images/kekeringan/200/200/489127.png" alt="...">
                  </a>
              </div>
                <div class="col-lg-8">
                                        <div class="col-lg-12">
                        <a class='gallery' href='/static/images/kekeringan/100/100/580401.png'>
                            <img style="padding-bottom: 20px;" class="w-100" src="/static/images/kekeringan/200/200/580401.png" alt="...">
                        </a>
                    </div>
                                        <div class="col-lg-12">
                        <a class='gallery' href='/static/images/kekeringan/100/100/572833.png'>
                            <img style="padding-bottom: 20px;" class="w-100" src="/static/images/kekeringan/200/200/572833.png" alt="...">
                        </a>
                    </div>
                                  </div><br><hr>
        </div>
                  <div class="single" style="background-color: #fff !important; overflow-y:hidden;">
            <h3>Januari - 2017</h3>
              <div class="col-lg-4">
                  <a class='gallery' href='/static/images/kekeringan/100/100/489127.png'>
                      <img class="w-100" src="/static/images/kekeringan/200/200/489127.png" alt="...">
                  </a>
              </div>
                <div class="col-lg-8">
                                        <div class="col-lg-12">
                        <a class='gallery' href='/static/images/kekeringan/100/100/580401.png'>
                            <img style="padding-bottom: 20px;" class="w-100" src="/static/images/kekeringan/200/200/580401.png" alt="...">
                        </a>
                    </div>
                                        <div class="col-lg-12">
                        <a class='gallery' href='/static/images/kekeringan/100/100/572833.png'>
                            <img style="padding-bottom: 20px;" class="w-100" src="/static/images/kekeringan/200/200/572833.png" alt="...">
                        </a>
                    </div>
                                  </div><br><hr>
        </div>
                  <div class="single" style="background-color: #fff !important; overflow-y:hidden;">
            <h3>Desember - 2016</h3>
              <div class="col-lg-4">
                  <a class='gallery' href='/static/images/kekeringan/100/100/489127.png'>
                      <img class="w-100" src="/static/images/kekeringan/200/200/489127.png" alt="...">
                  </a>
              </div>
                <div class="col-lg-8">
                                        <div class="col-lg-12">
                        <a class='gallery' href='/static/images/kekeringan/100/100/580401.png'>
                            <img style="padding-bottom: 20px;" class="w-100" src="/static/images/kekeringan/200/200/580401.png" alt="...">
                        </a>
                    </div>
                                        <div class="col-lg-12">
                        <a class='gallery' href='/static/images/kekeringan/100/100/572833.png'>
                            <img style="padding-bottom: 20px;" class="w-100" src="/static/images/kekeringan/200/200/572833.png" alt="...">
                        </a>
                    </div>
                                  </div><br><hr>
        </div>
                </div>
                </div>
