$def with (ctx)
$ asset = ctx.get('asset')
$ pos = ctx.get('pos')
$ tg = ctx.get('tgl')
$code:
    haris = [h.title() for h in "sen_sel_rab_kam_jum_sab_min".split('_')]
    bulan = [b.title() for b in "jan_feb_mar_apr_mei_jun_jul_ags_sep_okt_nop_des".split('_')]
$var extra_header:

$var js_foot:
<script type="text/javascript" src="/static/js/bootstrap-datepicker.js"></script>

<!-- End -->
<h1>Daftar Asset $pos.cname ($asset.count()) </h1>

<div class="container">
	<div class="table-responsive">
		<table class="table table-bordered table-stripped">
		    <thead>
		      <tr>
		      	<th>No</th>
		        <th>Kategori</th>
		        <th>Nama Asset</th>
		        <th>Status</th>
		        <th></th>
		      </tr>
		    </thead>
		    <tbody>
		    	$for a in asset :
		    	<tr>
		    		<td>$loop.index</td>
		    		<td>$a.kategori</td>
		    		<td>$a.nama</td>
		    		<td style="background-color: #5af542;">Baik</td>
		    		<td><center><a href="asset/$a.id/kerusakan/add" class="btn btn-primary btn-sm">Lapor Rusak</a></center></td>
		    	</tr>
		    </tbody>
		 </table>
	</div>
  
</div>
</div>
