$def with (ctx)
$ kegiatan = ctx.get('kegiatan')
$ pos = ctx.get('pos')
$ petugas = ctx.get('petugas')
$ tg = ctx.get('tgl')
$code:
    haris = [h.title() for h in "sen_sel_rab_kam_jum_sab_min".split('_')]
    bulan = [b.title() for b in "jan_feb_mar_apr_mei_jun_jul_ags_sep_okt_nop_des".split('_')]
$var extra_header:
		<style>
      .foto-thumb {
        border: solid 1px #ddd;
        padding: 5px;
      }
			.img-fluid {
				max-width: 100%;
				height: auto;
			}
			.img-preview {
				max-width: 100%;
				height: auto;
				padding: 5px;
				border: solid 1px #ddd;
			}
		</style>
$var js_foot:
    <script type="text/javascript" src="/static/js/bootstrap-datepicker.js"></script>
		<script>
			let formData = new FormData();
      let resizedImage = '';
      let fileName = '';
      \$(document).ready(function () {
          var hars = [$:{','.join(["'" + h + "'" for h in haris])}]
          var buls = [$:{','.join(["'" + h + "'" for h in bulan])}]
				\$('select[name="kegiatan"]').change(function () {
					if (\$('input#fotoFile')[0].files && (\$('input#fotoFile')[0].files.length > 0)) {
						\$('input[name="submit"]').removeClass('disabled');
					}
					console.log(this.value);
				});
				\$('#fotoFile').change(function (){ readURL(this); });
        \$('.gotomonth').datepicker({
            format: 'yyyy-mm-dd',
            startView: "months",
            minViewMode: "months",
            autoclose: true
         }); 
        \$('.gotomonth').on('changeDate', function() {
            window.location = '/adm/bendungan/$pos.table_name?sampling=' + \$(this).datepicker('getFormattedDate');
          });
        \$('.datepicker').on('changeDate', function() {
              var dated = \$(this).datepicker('getDate');
              var wd = dated.getDay() - 1;
              if (wd === -1) { wd = 6 }; 
         });
      });
			function go_upload() {
        var XHR = new XMLHttpRequest();
        
        XHR.open("POST", "/adm/bendungan/${pos.table_name}/kegiatan", true);
        XHR.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
			  formData = new FormData(document.getElementById('formUpload'));
        formData.append('foto', resizedImage, fileName);
        for (var a of formData) { console.log(a) }

        XHR.send(formData);
			}
			function readURL(input) {
				if (input.files && input.files[0]) {
					var reader = new FileReader();
          fileName = input.files[0].name;
					reader.onload = function (readerEvent) {
					  var image = new Image();
            image.onload = function (imageEvent) {
						  \$('#blah').attr('src', readerEvent.target.result);
						  var canvas = document.createElement('canvas'),
							  max_size = 1024,
							  width = image.width,
							  height = image.height;
						  if (width > height) {
							  if (width > max_size) {
								  height *= max_size / width;
								  width = max_size;
							  }
    				  } else {
		    				if (height > max_size) {
				    			width *= max_size / height;
                }
              }
              canvas.width = width;
              canvas.height = height;
              canvas.getContext('2d').drawImage(image, 0, 0, width, height);
              var dataUrl = canvas.toDataURL('image/jpeg');
              resizedImage = dataURLToBlob(dataUrl);
              \$.event.trigger({
                type: "imageResized",
                blob: resizedImage,
                url: dataUrl,
              });
            }
            image.src = readerEvent.target.result;
          }
					reader.readAsDataURL(input.files[0]);
				}
			};

			var dataURLToBlob = function (dataURL) {
				var BASE64_MARKER = ';base64,';
				if (dataURL.indexOf(BASE64_MARKER) == -1) {
					var parts = dataURL.split(',');
					var contentType = parts[0].split(':')[1];
					var raw = parts[1];

					return new Blob([raw], {type: contentType});
				}

				var parts = dataURL.split(BASE64_MARKER);
				var contentType = parts[0].split(':')[1];
				var raw = window.atob(parts[1]);
				var rawLength = raw.length;

				var uInt8Array = new Uint8Array(rawLength);

				for (var i=0; i < rawLength; ++i) {
					uInt8Array[i] = raw.charCodeAt(i);
				}

				return new Blob([uInt8Array], {type: contentType})
			}
			\$(document).on("imageResized", function (event) {
			  formData = new FormData(document.getElementById('formUpload'));
				if (event.blob) {
					formData.append('foto', event.blob, event.filename);
				}
        //\$.ajax({url: event.url, data: data, type: 'POST'});
        for (var a of formData) { console.log(event.blob) }
			});
		</script>
<!-- End -->
<h1>Kegiatan Petugas $pos.cname <a class="btn btn-outline-primary btn-sm" data-toggle="collapse" href="#form-kegiatan"><span class="glyphicon glyphicon-triangle-right"></span>Tambah Kegiatan</a>
</h1>
<div class="container collapse" id="form-kegiatan">
<div class="row">
	<div class="col-md-6 col-xs-12"><h3 style="margin-left: -10px">Tambah Kegiatan</h4>
			<input type="file" name="foto" class="custom-file-input" id="fotoFile">
		<form method="POST" id="formUpload" action="./foto" enctype="multipart/form-data">
    <div class="form-group">
		<div class="custom-file">
			<img id="blah" class="img-fluid" style="width: 100%;" alt=" pra tinjau
      gambar" src="#">
		</div>
		<div v-if="imageData.length > 0"><img class="img-fluid" :src="imageData"></div>
			<label>Keterangan</label>
			<input type="text" name="uraian" size="45" placeholder="Contoh: Kegiatan Apel, Babat Rumput 80%">
    </div><!-- form-group -->
    <div class="form-group">
        <label for="">Tanggal</label>
        <input type="hidden" name="waktu" value="${tg.strftime('%Y/%m/%d')}">
				<p style="margin-left: 10px;" class="datepicker" data-tgl="${tg.isoformat()}">${haris[tg.weekday()]}, ${tg.strftime('%d %b %Y')}</p>
    </div>
		<div class="form-group">
      <label for="">Petugas Kegiatan</label>
      <div style="margin-left: 10px;" class="custom-control">
        <select class="custom-select" name="kegiatan">
          <option value="">-</option>
      $for p in petugas:
          <option value="$p">${p.title()}</option>
      </select>
    </div>
    </div>
		<div class="form-group">
	<input type="button" name="submit" value="upload" onclick="go_upload()" class="btn btn-primary disabled">
		</form>
		</div>
	</div>
	<div class="col-md-6 col-xs-12">Foto</div>

	</div>
</div>
</div>
<div class="container">
<span class="gotomonth" style="color: #18bc9c">${tg.strftime('%b %Y')}</span>
  <table class="table table-bordered table-stripped">
    <thead>
      <tr>
        <th></th>
        $for p in petugas:
           <th>${p.title()}</th>
      </tr>
    </thead>
  </table>
</div>
</div>
