$def with (ctx)
$ kegiatan = ctx.get('kegiatan')
$ pos = ctx.get('pos')
$ petugas = ctx.get('petugas')
$ tg = ctx.get('tgl')
$code:
    haris = [h.title() for h in "sen_sel_rab_kam_jum_sab_min".split('_')]
    bulan = [b.title() for b in "jan_feb_mar_apr_mei_jun_jul_ags_sep_okt_nop_des".split('_')]
$var extra_header:
		<style>
      .foto-thumb {
        border: solid 1px #ddd;
        padding: 5px;
      }
			.img-fluid {
				max-width: 100%;
				height: auto;
			}
			.img-preview {
				max-width: 100%;
				height: auto;
				padding: 5px;
				border: solid 1px #ddd;
			}
      .datepicker-months .month { padding: 10px;}
		</style>
$var js_foot:
    <script type="text/javascript" src="/static/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="/static/js/MinifyJpegAsync.js"></script>
		<script>
      \$(document).ready(function () {
          var hars = [$:{','.join(["'" + h + "'" for h in haris])}]
          var buls = [$:{','.join(["'" + h + "'" for h in bulan])}]
          \$('.datepicker').datepicker({
              format: 'yyyy-mm-dd',
              autoclose: true
           }); 
				\$('select[name="kegiatan"]').change(function () {
					if (\$('input#fotoFile')[0].files && (\$('input#fotoFile')[0].files.length > 0)) {
						\$('input[name="submit"]').removeClass('disabled');
					}
					console.log(this.value);
				});
				\$('#fotoFile').change(function (event){ readURL(event); });
        \$('.gotomonth').datepicker({
            format: 'yyyy-mm-dd',
            startView: "months",
            minViewMode: "months",
            autoclose: true
         }); 
        \$('.gotomonth').on('changeDate', function() {
            window.location = '/adm/bendungan/$pos.table_name/kegiatan?sampling=' + \$(this).datepicker('getFormattedDate');
          });
        \$('.datepicker').on('changeDate', function() {
              var dated = \$(this).datepicker('getDate');
              var wd = dated.getDay() - 1;
              if (wd === -1) { wd = 6 }; 
              \$(this).html(hars[wd] + ", " +dated.getDate() +' '+ buls[dated.getMonth()] +' '+ dated.getFullYear());
              var form = \$(this).parents('form:first');
              \$('input[name=waktu]', form).val(dated.getFullYear()+'/'+(dated.getMonth()+1) +'/'+dated.getDate());
         });
      });
			let enc_img = '';
			let file_name = '';
			function readURL(event) {
        let f = event.target.files[0];
				file_name = f.name;
        let reader = new FileReader();

        reader.onloadend = (function(theFile){
          return function(e) {
						MinifyJpegAsync.minify(e.target.result, 1280, function(data) { 
							enc_img = "data:image/jpeg;base64," + btoa(data);
							let img = new Image();
							img.src = enc_img;
							document.getElementById('blah').src = enc_img;
							console.log('Hasil proses minify') 
						});
          };
        })(f);
				reader.readAsDataURL(f);
			};
			function go_upload() {
				let fields = 'uraian_waktu'.split('_');
				let formData = {data: enc_img, filename: file_name,
					uraian: \$('input[name="uraian"]').val(),
					waktu: \$('input[name="waktu"]').val(),
					petugas: \$('select[name="petugas"]').val()
				}

				\$.post('/adm/bendungan/$pos.table_name/kegiatan', formData)
					.done(function (e) { console.log(e); location.reload(); }
				);
				
			}

		</script>
<!-- End -->
<h1>Kegiatan Petugas $pos.cname <a class="btn btn-outline-primary btn-sm" data-toggle="collapse" href="#form-kegiatan"><span class="glyphicon glyphicon-plus"></span>Tambah Laporan Kegiatan</a>
</h1>
<div class="container collapse" id="form-kegiatan">
<div class="row">
	<div class="col-md-6 col-xs-12"><h3 style="margin-left: -10px">Lapor Kegiatan</h4>
		<form method="POST" id="formUpload" action="./foto" enctype="multipart/form-data">
    <div class="form-group">
        <label for="">Tanggal</label>
        <input type="hidden" name="waktu" value="${tg.strftime('%Y/%m/%d')}">
				<p style="margin-left: 10px;" class="datepicker" data-tgl="${tg.isoformat()}">${haris[tg.weekday()]}, ${tg.strftime('%d %b %Y')}</p>
    </div>
		<div class="form-group">
      <label for="">Petugas Kegiatan</label>
      <div style="margin-left: 10px;" class="custom-control">
        <select class="custom-select form-control" name="petugas">
          <option value="">-</option>
      $for p in petugas:
          <option value="$p">${p.title()}</option>
      </select>
    </div>
    </div>
			<input type="file" name="foto" class="custom-file-input" id="fotoFile">
    <div class="form-group">
		<div class="custom-file">
			<img id="blah" src="/static/img/null.jpg" class="img-fluid" style="width: 100%;border: solid 1px #ccc" alt=" pra tinjau
      gambar" src="#">
		</div>
			<label>Keterangan</label>
			<input type="text" name="uraian" size="45" placeholder="Contoh: Kegiatan Apel, Babat Rumput 80%">
    </div><!-- form-group -->
		<div class="form-group">
	<input type="button" name="submit" value="upload" onclick="go_upload()" class="btn btn-primary">
		</form>
		</div>
	</div>
	<div class="col-md-6 col-xs-12"><h3>Laporan Kegiatan Petugas</h3>
		<p>Pilih foto, bisa juga langsung dari kamera Handphone</p>
		<p>Berikan keterangan tentang foto</p>
		<p>Tanggal aktifitas berlangsung</p>
		<p>Pilih petugas yang melakukan kegiatan pada foto</p>
	</div>

	</div>
</div>
</div>
<div class="container">
  <h3>Bulan <i class="fa fa-calendar"></i> <span class="gotomonth" style="color: #18bc9c">${tg.strftime('%b %Y')}</span></h3>
  <table class="table table-bordered table-stripped">
    <thead>
      <tr>
        <th>Tanggal</th>
				$for p in petugas:
				  <th>${p.title()}</th>
      </tr>
    </thead>
		<tbody>
      $for k, v in kegiatan.items():
			  <tr>
          <td>${k.day}<a href="kegiatan?sampling=${k}&amp;paper=true" style="float: right" class="text-right">Print</a></td>
          $for p in petugas:
            <td>
              $if v.get(p):
                $for keg in v.get(p):
                  <li>${keg.get('uraian')}</li>
              $else:
                <i>tidak ada</i>
				    </td>
        </tr>
		</tbody>
  </table>
</div>
</div>
