$def with (ctx)
$ asset = ctx.get('asset')
$ pos = ctx.get('pos')
$ tg = ctx.get('tgl')
$code:
    haris = [h.title() for h in "sen_sel_rab_kam_jum_sab_min".split('_')]
    bulan = [b.title() for b in "jan_feb_mar_apr_mei_jun_jul_ags_sep_okt_nop_des".split('_')]
$var extra_header:

$var js_foot:
<script type="text/javascript" src="/static/js/bootstrap-datepicker.js"></script>
<!-- End -->
<h1>($pos.cname) Nama Asset : <em><u>$asset.nama</u></em></h1>

<div class="container">
	<div class="col-md-6">
		<form action="#" method="">
		  <div class="form-group row">
		    <label class="col-sm-2 col-form-label">Uraian Kerusakan</label>
		    <div class="col-sm-10">
		      <textarea class="form-control" rows="5" cols="25" name="uraian_kerusakan" id="uraian_kerusakan" placeholder="Uraian Kerusakan"></textarea>
		    </div>
		  </div>
		  <fieldset class="form-group">
		    <div class="row">
		      <label class="col-form-label col-sm-2">Kategori</label>
		      <div class="col-sm-10">
		        <div class="form-check">
		          <input class="form-check-input" type="radio" name="kategori" id="kategori_ringan" value="ringan" checked>
		          <label class="form-check-label">
		            Ringan
		          </label>
		        </div>
		        <div class="form-check">
		          <input class="form-check-input" type="radio" name="kategori" id="kategori_sedang" value="sedang">
		          <label class="form-check-label">
		            Sedang
		          </label>
		        </div>
		        <div class="form-check">
		          <input class="form-check-input" type="radio" name="kategori" id="kategori_berat" value="berat">
		          <label class="form-check-label">
		            Berat
		          </label>
		        </div>
		      </div>
		    </div>
		  </fieldset>
		  <div class="form-group">
		  	<label>Foto</label>
	    	<input type="file" class="form-control-file" id="#foto">
		  </div>
		  <div class="form-group">
		  	<img class="img-fluid" src="">
		  </div>
		  <div class="form-group row">
		    <div class="col-sm-10">
		      <button type="submit" class="btn btn-primary btn-sm">Kirim</button>
		    </div>
		  </div>
		</form>
	</div>
	<div class="col-md-6">
		&nbsp;
	</div>
    
</div>

</div>
