<!DOCTYPE html>
<html lang="id">
<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Bengawan Solo Alert">
    <meta name="apple-mobile-web-app-title" content="Bengawan Solo Alert">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Sistem Informasi Bendungan BBWS BSolo</title>
    <link rel="shortcut icon" href="/static/images/pupr.ico"/>
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <!-- <link rel="stylesheet" href="/static/css/custom/font.css"> -->
    <!-- Custom Css -->

    <!-- Font Awesome -->
    <link rel="stylesheet" href="/static/fontawesome/font-awesome.css">

    <style>
			body {
				font-size: 2rem;
			}
    </style>
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">
					<img src="" alt="BBWS BSolo">
				</a>
			</div><!-- navbar-header -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" style="margin-left: 200px;">
        <li><a href="#">Home</a></li>
        <li class="dropdowni dropdown-large">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hulu<span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-menu-large row">
						<li class="col-md-4">
							<ul>
								<li><a href="97">Bd.Blimbing</a></li>
								<li><a href="94">Bd.Botok</a></li>
								<li><a href="95">Bd.Brambang</a></li>
								<li><a href="93">Bd.Cengklik</a></li>
								<li><a href="91">Bd.Delingan</a></li>
								<li><a href="113">Bd.Gebyar</a></li>
								<li><a href="96">Bd.Gembong</a></li>
								<li><a href="89">Bd.Jombor</a></li>
							</ul>
						</li>
						<li class="col-md-4">
							<ul>
								<li><a href="86">Bd.Kedunguling</a></li>
								<li><a href="98">Bd.Kembangan</a></li>
								<li><a href="99">Bd.Ketro</a></li>
								<li><a href="88">Bd.Krisak</a></li>
								<li><a href="92">Bd.Lalung</a></li>
								<li><a href="90">Bd.Mulur</a></li>
								<li><a href="81">Bd.Nawangan</a></li>
								<li><a href="82">Bd.Ngancar</a></li>
								<li><a href="85">Bd.Parangjoho</a></li>
								<li><a href="84">Bd.Plumbon</a></li>
							</ul>
						</li>
						<li class="col-md-4">
							<ul>
								<li><a href="83">Bd.Songputri</a></li>
								<li><a href="87">Bd.Wonogiri</a></li>
							</ul>
						</li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Madiun<span class="caret"></span></a>
          <ul class="dropdown-menu">
						<li><a href="103">Bd.Dawuhan</a></li>
						<li><a href="102">Bd.Gonggang</a></li>
						<li><a href="109">Bd.Kedung Bendo</a></li>
						<li><a href="105">Bd.Kedung Brubus</a></li>
						<li><a href="106">Bd.Notopuro</a></li>
						<li><a href="108">Bd.Pondok</a></li>
						<li><a href="107">Bd.Sangiran</a></li>
						<li><a href="104">Bd.Saradan</a></li>
						<li><a href="100">Bd.Telaga Ngebel</a></li>
						<li><a href="101">Bd.Telaga Pasir</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hilir<span class="caret"></span></a>
          <ul class="dropdown-menu">
						<li><a href="112">Bd.Gondang</a></li>
						<li><a href="110">Bd.Pacal</a></li>
						<li><a href="111">Bd.Prijetan</a></li>
          </ul>
        </li>
      </ul>
    </div>
		</div><!-- container-fluid -->
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				Untuk penerapan pada sistem kendali pompa air pada kolam tampungan, primabot harus mampu untuk:

			</div>
			<div class="col-md-6">Pada dasarnya primabot dapat berjalan sendiri untuk mengaktifkan pompa dan mengirim SMS kepada yang dituju. Namun, usulan berikut ini barangkali bermanfaat:
			</div>
		</div>
		<div class="row">
			<div class="col-md-6"><div class="chart" id="chart1"></div>
			</div>
			<div class="col-md-6"><div class="chart" id="chart2"></div>
			</div>
		</div>
	</div>
	<script src="/static/js/jquery-1.12.0.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>
